In [21]:
import torch
from transformers import BertModel,BertTokenizer
import pandas as pd

In [22]:
data = pd.read_csv('data.csv')

In [23]:
data.head()

,Sentiment,No,Date,type,author,text,Unnamed: 6,Unnamed: 7
0,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,@stellargirl I loooooooovvvvvveee my Kindle2. ...,NaN,NaN
1,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...,NaN,NaN
2,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck...",NaN,NaN
3,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...,NaN,NaN
4,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...,NaN,NaN

In [24]:
new_data = data[['Sentiment','text']].copy()

In [25]:
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

def text_preprocess(text):
    
    split_text = text.split(' ')
    formatted_split_text = []
    for word in split_text :
        
        if not( word.startswith('@') or word.startswith('#') or word.startswith('http')):
            
            current_word = word
            for c in current_word.lower():
                if c in punctuations:
                    current_word = current_word.replace(c,'')
            formatted_split_text.append(current_word)
    
    return ' '.join(formatted_split_text)

def sentiment_preprocess(num):
    
    if (num==4):
        return 2
    elif (num==2):
        return 1
    else:
        return 0

In [26]:
new_data['Sentiment']=new_data['Sentiment'].apply(sentiment_preprocess)

In [27]:
new_data['text'] = new_data['text'].apply(text_preprocess)

In [28]:
new_data.head()

   Sentiment                                               text
0          2  I loooooooovvvvvveee my Kindle2 Not that the D...
1          2  Reading my kindle2  Love it Lee childs is good...
2          2         Ok first assesment of the it fucking rocks
3          2  Youll love your Kindle2 Ive had mine for a few...
4          2   Fair enough But i have the Kindle2 and I thin...

In [29]:
new_data.to_csv ('formatted_data.csv', index = False, header=True)